* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  background-color: #cecdcd8c;
  display: flex;
  gap: 8rem;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  gap: 1.2rem;
}

.summary h2,
.experience h2,
.education h2 {
  color: #112a46;
  text-align: center;
  border-bottom: 1px solid #112a46;
  padding-bottom: 1rem;
}

input[type="month"] {
  cursor: pointer;
}

input,
textarea {
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
  border-style: none;
}

.cv-form {
  width: 35vw;
  max-width: 40vw;
  background-color: #f4f5f4;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  cursor: pointer;
}
