* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  background-color: #cecdcd8c;
  display: flex;
  gap: 8rem;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.summary h2,
.experience h2,
.education h2,
.skills h2 {
  color: #112a46;
  text-align: center;
  border-bottom: 1px solid #112a46;
  padding-bottom: 1rem;
}

input[type="month"] {
  cursor: pointer;
}

input,
textarea {
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
  border-style: none;
}

.cv-form {
  height: 100vh; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 35vw;
  max-width: 40vw;
  background-color: #f4f5f4;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  cursor: pointer;
}

.add-experience > button,
.add-skill > button {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-style: none;
  border-radius: 0.3rem;
  background-color: #112a46;
  color: #f4f5f4;
  transition: transform 0.3s;
}

.add-experience > button:hover,
.add-skill > button:hover {
  transform: scale(1.05);
}

@media all and (max-width: 1200px) {
  #root {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .cv-form,
  .cv-container {
    width: 45vw;
    max-width: 50vw;
  }

  .cv-container > .cv-paper {
    grid-template-columns: 1fr 1fr;
  }

  .cv-paper h1 {
    font-size: 0.8rem !important;
  }

  .cv-paper h2 {
    font-size: 0.7rem !important;
  }

  .cv-paper p {
    font-size: 0.6rem !important;
  }

  .basics-print {
    grid-column: 1 / -1;
  }

  .job-education--wrapper {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  .education-print {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .skills-print {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .contact-print {
    grid-column: 1 / -1;
    grid-row: 4;
    gap: 0.4rem;
    align-items: center;
  }
}

@media all and (max-width: 900px) {
  h2 {
    font-size: 1rem;
  }

  input,
  textarea {
    font-size: 0.6rem;
  }

  label > span {
    font-size: 0.7rem;
  }

  .info > input,
  input {
    padding: 0.6rem 1rem !important;
  }

  .add-experience > button,
  .add-skill > button {
    padding: 0.4rem 0.6rem;
    font-size: 0.6rem;
  }

  i span,
  i a {
    font-size: 0.5rem !important;
  }

  .fa-print {
    margin: 0.4rem !important;
    font-size: 1.3rem !important;
  }

  .cv-form,
  .cv-container {
    width: 60vw !important;
    max-width: 65vw !important;
  }

  .cv-container {
    height: 100%;
  }

  .job-education--wrapper {
    grid-row: 3;
    grid-column: 1 / -1;
  }
  .skills-print {
    grid-column: 1 / -1;
    grid-row: 4;
  }

  .education-print {
    grid-row: 2;
  }

  .contact-print {
    grid-row: 5;
  }

  .education-print--years,
  .job-print--years {
    font-size: 0.6rem !important;
  }
}

@media print {
  .cv-form {
    display: none;
  }

  .cv-container {
    padding: 0 !important;
    height: 100vh !important;
    max-height: 100vh !important;
    width: 100vw !important;
    max-width: 100vw !important;
    box-shadow: none !important;
  }

  .contact-print {
    gap: 1.2rem;
  }

  .print-button--container {
    display: none;
  }
}
